@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/elements/table.sass";


.table {
  border-spacing: 0px;
  border-bottom: 1px solid #e0e0e0 !important;
  border-right: 1px solid #e0e0e0 !important;
  overflow: scroll;
}

.header {
  width: 1.75em;
  height: 1.25em;
  text-align: center !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell {
  width: 1.75em;
  height: 1.25em !important;

  border-left: 1px solid #e0e0e0 !important;
  overflow: hidden;
  padding: .5em 0 !important;
  text-align: center;
  text-overflow: ellipsis;
}

.selected {
  padding: .5em 0 !important;
}

.input {
  padding:0;
  height: 1.25em !important;

  width: calc(100% - 5px);
  margin: 0px;
}